<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpIUEnHdf6NDvZ2D-8Zosl3j-SkICKxCY</string>
	<key>GCM_SENDER_ID</key>
	<string>172286231999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uniLecture</string>
	<key>PROJECT_ID</key>
	<string>uni-lecture-app</string>
	<key>STORAGE_BUCKET</key>
	<string>uni-lecture-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172286231999:ios:d0befc53c30d11d0634d0a</string>
</dict>
</plist>